.my-navbar {
  background-color: white;
  height: 80px;
}

.my-navbar img{
  width: 150px;
}

.my-navbar .row ul>li {
  display: inline-block;
  line-height: 80px;
  padding-right: 15px;
}

.my-navbar .row ul>li>a {
  color: black;
}

.my-navbar .navbar-brand:hover, .my-navbar .navbar-nav> a:hover {
  color: #1ABC9C;
}


.my-jumbotron{
  background-image:url("../img/sfondo.jpg");
  height: 800px;
}
