/* utility class*/

.description-color{
  color: #455576;
}
.title-color{
  color: #041942;
}

.my-box-title {
  text-align: center;
  margin: 50px 0 50px;
}

.my-box-title h2{
font-size: 40px;
}

.my-box-title span{
   font-size: 30px;
}

/* Navar*/
.my-navbar {
  background-color: white;
  height: 58px;
  line-height: 58px;
  text-align: right;
}

.hamburger-menu{
  color: #2177F4;
  float: right;
  padding-right: 15px;
  font-size: 20px;
}

.my-navbar img{
  width: 150px;
  margin-bottom: 6px;
}

.my-navbar .row ul>li {
  display: inline-block;
  padding-right: 15px;
}

.my-navbar .row ul>li>a {
  color: black;
}

.my-navbar .row .my-navbar-left li:last-child{
  padding-right: 0px;
}
.my-navbar .navbar-brand:hover, .my-navbar .navbar-nav> a:hover {
  color: #1ABC9C;
}

.my-navbar .my-navbar-right > .sign-up{
  background-color: white;
  border: 1px solid #2177F4;
  padding:10px;
  border-radius: 5px;
  color: #2177F4;
}
/* end navbar*/

/* jumbotron*/
.my-jumbotron{
  background-image:url("../img/sfondo.jpg");
  min-height: 600px;
}

.content-jumbotron-left{
  margin-top: 50px;
  padding-left: 15px;
}

.content-jumbotron-left h1{
  color: white;
  font-size: 60px;
}

.content-jumbotron-left p{
  color: #AABFFA;
  font-size: 25px;
}

.content-jumbotron-right{
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
  text-align: center;
  min-height: 350px;
  padding: 40px 15px 30px;
}

.content-jumbotron-right h2:nth-child(2){
  color:  #4E8DF8;
}
/* form*/

.form-google input{
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 15px;
}

.form-google input:nth-child(2){
  margin: 15px 0;
}
.form-google button:nth-child(3){
  background-color: #4E8DF8;
  width: 100%;
  color: white;
  border-radius: 5px;
  height: 30px;
  border-style: none;
}

.form-google button:nth-child(4){
  background-color: white;
  width: 100%;
  color: #575757;
  border-radius: 5px;
  height: 30px;
  border-style: none;
  vertical-align: middle;
  box-shadow: 1px 1px #ccc;
  text-align: center;
  margin-top: 15px;
}

.form-google div:nth-child(5){
margin-top: 15px;
}

.form-google button > img{
  width: 20px;
  vertical-align: middle;
}
  /* end form*/


  /*   customer  */
.my-customer{
  background-color: #F1F3F8;
  text-align: center;
  padding: 50px 0 30px;;
}

.my-customer h4{
  color: #646F8A;
}
.customers{
  padding: 30px 0;
}

.customers img{
  width:  150px;
  padding-right: 15px;
}

.customers img:last-child{
  padding-right: 0;
}
/* end customer*/


/* deploy*/
.my-deploy{
  padding-bottom: 50px;
}
.deploy-sidebar{
  font-size: 25px;
  border-left: 1px solid #455576;
  padding-left: 15px;
  margin-left: 50px;
}

.deploy-sidebar div{
  padding-top: 15px;
}

.deploy-container{
  padding-right: 15px;
}
/* end deploy*/


/* Designed*/
.my-designed{
  background-color: #F1F3F8;
}

.container-droplets{
  text-align: center;
  vertical-align: middle;

}

.container-droplets .fa-angle-left, .container-droplets .fa-angle-right{
  font-size: 50px;
  font-weight: bold;
}

.container-droplets img{
  padding:0 30px;
  width: 800px;
}

.image-title{
  margin: 15px 0 30px;
  font-size: 20px;
  font-weight: bold;
}

.check-circle{
  font-size: 15px;
  color: #2177F4;
  margin-bottom: 50px;
}
.fa-circle{
  display: none;
}
/* end designed*/

/* features*/
.my-features{
  padding-bottom: 50px;
}
.features-box-link{
  margin-top: 20px;
}
/* end features*/


/* service-region*/
.my-service-region{
  background-image: linear-gradient(#0439B6, #01148A);
  color: white;
  padding-bottom:50px;
}
.my-service-region ul{
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.my-service-region ul li{
  display: inline;
}

.my-service-region ul li:first-child{
  width: 50px;
}

.my-service-region ul li:nth-child(2){
  margin-left:30px;

}

.my-service-region ul li:nth-child(3){
  float: right;
  margin-right: 30px;
}
.my-service-region ul li a{
  color: #15D6CA;
}
/* end service-region*/



 /*  my development */
.my-development{
  background-color: #F1F3F8;
}

.my-development .container{
  text-align: center;
}
.container-rockerbox{
  background-color:white;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  padding: 50px 15px;
  max-width: 800px;
  min-height: 300px;
  margin: 0 30px 30px;;
}

.container-rockerbox img{
  width: 50%;
  margin-bottom: 30px;
}

.container-rockerbox p{
  font-size: 30px;
}
.my-development .fa-angle-left, .my-development .fa-angle-right{
  font-size: 50px;
  font-weight: bold;}
 /*  end development */

 /*  Get Started */
 .my-getstarted{
   background-image: linear-gradient(#0439B6, #01148A);
   text-align: center
 }

 .getstarted-title{
  padding: 50px 0;
  line-height: 100px;
}

.getstarted-title h2{
  color: white;
}

.getstarted-title a{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  color:#0859F6;
}
/* end get started*/

/* footer*/
/*
footer{
  background-color: #041942;
  color:#6F7991;
  padding:50px;
}
footer img{
margin-bottom: 15px;
}
footer .fa{
  font-size: 30px;
}
footer .social-icon{
  margin-top: 15px;
  letter-spacing: 5px;
}
footer h5{
  color: white;
  margin-bottom: 15px;
}

footer .row div:nth-child(2) a{
 color: #6F7991
}*/




/* MEDIA QUERY*/

@media screen  and (max-width:991px){
  .customers img{
    width:  100px;
  }
  .container-droplets img{
    width: 600px;
  }

  .my-service-region ul{
    font-size: 10px;
  }

  .container-rockerbox{
    max-width: 500px;
  }

}

@media screen and (max-width:767px){

  .content-jumbotron-left h1{
    font-size: 40px;
  }
  .content-jumbotron-right{
    margin-bottom: 20px;
  }
  .customers img{
    width:  300px;
  }

  .deploy-sidebar{
    margin-left: 15px;
  }

  .deploy-container{
    margin-top: 50px;
  }

  .container-droplets .fa-angle-left, .fa-angle-right{
    display: none;
  }

  .container-droplets img{
    width: 90%;
  }


}
