/* utility class*/

.description-color{
  color: #455576;
}
.title-color{
  color: #041942;
}

.my-box-title {
  text-align: center;
  margin: 50px 0 100px;
}

.my-box-title h2{
font-size: 50px;
}

.my-box-title span{
   font-size: 35px;
}

/* Navar*/
.my-navbar {
  background-color: white;
  height: 58px;
  line-height: 58px;
  text-align: right;
}

.hamburger-menu{
  color: #2177F4;
  float: right;
  padding-right: 15px;
  font-size: 20px;
}

.my-navbar img{
  width: 150px;
  margin-bottom: 6px;
}

.my-navbar .row ul>li {
  display: inline-block;
  padding-right: 15px;
}

.my-navbar .row ul>li>a {
  color: black;
}

.my-navbar .row .my-navbar-left li:last-child{
  padding-right: 0px;
}
.my-navbar .navbar-brand:hover, .my-navbar .navbar-nav> a:hover {
  color: #1ABC9C;
}

.my-navbar .my-navbar-right > .sign-up{
  background-color: white;
  border: 1px solid #2177F4;
  padding:10px;
  border-radius: 5px;
  color: #2177F4;
}
/* end navbar*/

/* jumbotron*/
.my-jumbotron{
  background-image:url("../img/sfondo.jpg");
  min-height: 600px;
}

.content-jumbotron-left{
  margin-top: 50px;
  padding-left: 15px;
}

.content-jumbotron-left h1{
  color: white;
  font-size: 60px;
}

.content-jumbotron-left p{
  color: #AABFFA;
  font-size: 25px;
}

.content-jumbotron-right{
  background-color: white;
  border-radius: 5px;
  margin-top: 15px;
  text-align: center;
  min-height: 350px;
  padding: 40px 15px 30px;
}

.content-jumbotron-right h2:nth-child(2){
  color:  #4E8DF8;
}
/* form*/

.form-google input{
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 15px;
}

.form-google input:nth-child(2){
  margin: 15px 0;
}
.form-google button:nth-child(3){
  background-color: #4E8DF8;
  width: 100%;
  color: white;
  border-radius: 5px;
  height: 30px;
  border-style: none;
}

.form-google button:nth-child(4){
  background-color: white;
  width: 100%;
  color: #575757;
  border-radius: 5px;
  height: 30px;
  border-style: none;
  vertical-align: middle;
  box-shadow: 1px 1px #ccc;
  text-align: center;
  margin-top: 15px;
}

.form-google div:nth-child(5){
margin-top: 15px;
}

.form-google button > img{
  width: 20px;
  vertical-align: middle;
}
  /* end form*/


  /*   customer  */
.my-customer{
  background-color: #F1F3F8;
  text-align: center;
  padding: 50px 0 30px;;
}

.my-customer h4{
  color: #646F8A;
}
.customers{
  padding: 30px 0;
}

.customers img{
  width:  150px;
  padding-right: 15px;
}

.customers img:last-child{
  padding-right: 0;
}
/* end customer*/

/* deploy*/

.deploy-sidebar{
  font-size: 25px;
  border-left: 1px solid #455576;
  padding-left: 15px;
  margin-left: 50px;
  margin-top: 40px;
}

.deploy-sidebar div{
  padding-top: 15px;
}

.deploy-container{
  margin-top: 50px;
  padding-right: 15px;
}



@media screen and (max-width:991px){
  .customers img{
    width:  100px;
  }

}

@media screen and (max-width:767px){

  .content-jumbotron-left h1{
    font-size: 40px;
  }
  .content-jumbotron-right{
    margin-bottom: 20px;
  }
  .customers img{
    width:  300px;
  }

  .deploy-sidebar{
    margin-left: 15px;

  }
}
